.topbar{
    background-color: 	#778899; 
    text-align: center;
    padding-top: .30rem;
    padding-bottom: .30rem;
    font-size: 2rem;
    font-weight: 600;
    box-shadow: 0 4px 2px -2px rgba(0,0,0,.2);
    width: 100%; /* Full width */
}

.main{
    padding-left: 0vw;
    padding-Right: 0vw;
    border-right: 1px solid black;
}

.appName{
    margin-left: 5vw;
}

@media only screen and (max-device-width: 480px) {

    #root {
        overflow-x: hidden;
    }

    .main {
        border-right:0px ;
        border-bottom: 1px solid black ;
        text-align: center;
    }

    .row{
        margin-right: 0vh;
    }

}


@media (max-width: 1400px){
    .topbar{
        font-size: 1.5rem !important;
    }
    .appName{
        margin-left: 6vw;
    }
}


@media (max-height:600px) {

    .main {
        border-right:0px ;
        border-bottom: 1px solid black ;
        text-align: center;
    }
}