.scrollableDiv {

    height: 94vh;
    overflow-y: scroll;
    font-size: small;

}

.cardStyle{
    font-size:1.2rem;
    font-weight: 600;
}

.scrollableDiv::-webkit-scrollbar{
    display:none;
}


@media (max-width: 1400px){
    .cardStyle{
        font-size:0.9rem;
        font-weight: 600;
    }
}