.exercises{
    margin-top: 5vh;
    margin-left: 0vh !important;
    padding-top: 1vh;
    padding-bottom: 1vh;
    text-align: center;
}

.question{
    border: 1px black solid;
    padding-top: 1vh;
    padding-bottom: 1vh;
    text-align: center;
    margin-bottom: 8vh;
    margin-top: 6vh;
    font-size: 1.3rem;
    border-radius: 0.5vh;
}

.margin-left{
    margin-left: 6vw;
    margin-right:6vw;
}

.collection{
    font-size: 1.3rem;
    padding-bottom: 1vh;
}


@media (max-width: 1400px){

    .question{
        font-size: 1rem !important;
    }

    .collection{
        font-size: 0.8rem !important;
    }

    .exercises > h3{
        font-size: 1.5rem !important;
    }

    h3 > span {
        margin-top: 2px !important;
    }
}

@media (max-width: 520px){

    .question{
        font-size: 0.7rem !important;
    }

    .collection{
        font-size: 0.7rem !important;
    }

    .exercises > h3{
        font-size: 1rem !important;
    }

    h3 > span {
        margin-top: 2px !important;
    }
}